<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css">
    <title>Update Form</title>
</head>

<body>
    <h1> Update The Form Given Below:-</h1>
    <form action="/articles/<%=article.id%>" method="post">
        <input type="text" value="<%=article.title%>" placeholder="Add title" name="title">
        <input type="text" value="<%=article.description%>" placeholder="Add description" name="description">
        <input type="text" value="<%=article.tags%>" placeholder="Add tags" name="tags">
        <input type="text" value="<%=article.author%>" placeholder="Add author" name="author">
        <input type="submit" class="submit-btn">
    </form>
</body>

</html>