<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Author Detail</title>
</head>

<body>
    <a href="/authors/new" class="links"> Add an author</a>
    <a href="/authors" class="links"> List of Author</a>
    <h1>
        <%= author.name%>
    </h1>
    <h2>
        <%= author.email%>
    </h2>
    <p>
        <%= author.country%>
    </p>
    <a href="/authors/<%=author.id %>/edit" class="links">Edit Author</a>
    <a href="/authors/<%=author.id %>/delete" class="links">Delete Author</a>
</body>

</html>